body {
    margin: 0;
    height: 100vh;

    overflow: hidden;
    overflow-anchor: none;
    overscroll-behavior: none;

    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;

    background-repeat: no-repeat;
}

.window {
    z-index: 1;
    overflow-anchor: none;

    width: 979px;
    height: 512px;
    background: black;

    font-family: 'Segoe UI';
    font-size: 12.2px;

    color: #fff;

    box-shadow: 0px 0px 5px #000000a0;
    border: 1px solid rgba(255,255,255,.15);
}

.titlebar {
    display: flex;
    align-items: center;
    flex: 1;

    height: 32px;

    background: black;
}

.title:before {
    display: block;
    width: 8px;
    content: '';
}

.title {
    width: calc(100% - 8px);

    height: 100%;
    justify-self: flex-end;
    align-items: center;

    margin-right: auto;
    display: flex;
}

.title, .item, .button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.control {
    display: flex;
    height: 100%;
    justify-self: flex-end;
    align-items: center;
    font-family: 'Segoe MDL2 Assets';
}

.control > .button {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;

    font-size: 9.5px;

    text-shadow: 0px 0px 1px rgba(255, 255, 255);

    transition: background .1s;
}

.control > .button.minimize:before {
    content: '\e738';
}

.control > .button.maximize:before {
    content: '\e739';
}

.control > .button.close:before {
    content: '\e894';
}

.control > .button:hover {
    background: #1A1A1A;
    cursor: default;
}

.control > .button.close:hover {
    background: #E81123;
}

.terminal {
    min-width: 100%;
}

#terminal {
    display: flex;

    background: #0C0C0C;
    color: #C8C8C8;

    height: calc(100% - 32px);
    min-height: calc(100% - 32px);
    max-height: calc(100% - 32px);
}

.xterm-viewport::-webkit-scrollbar {
    width: 17px;
    padding: 1px;
    background-color: #171717;
}

.xterm-viewport::-webkit-scrollbar-button:end:decrement,
.xterm-viewport::-webkit-scrollbar-button:start:increment {
    display: none;
}

.xterm-viewport::-webkit-scrollbar-button:end:increment {
    background: url(img/dn.png) no-repeat center center;
}

.xterm-viewport::-webkit-scrollbar-button:start:decrement {
    background: url(img/up.png) no-repeat center center;
}

.xterm-viewport::-webkit-scrollbar-button:end:increment:active {
    background: url(img/dn_active.png) no-repeat center center;
}

.xterm-viewport::-webkit-scrollbar-button:start:decrement:active {
    background: url(img/up_active.png) no-repeat center center;
}

.xterm-viewport::-webkit-scrollbar-button {
    border: 1px solid transparent;
}

.xterm-viewport::-webkit-scrollbar-button:hover {
    background-color: #373737 !important;
}

.xterm-viewport::-webkit-scrollbar-button:active {
    background-color: #A6A6A6 !important;
}

.xterm-viewport::-webkit-scrollbar-track,
.xterm-viewport::-webkit-scrollbar-track-piece {
    background-color: #171717;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    width: 15px;
    height: 17px;
    border: 1px solid #171717;
    background-color: #4D4D4D;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
    background-color: #7A7A7A;
}

.xterm-viewport>pre {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 5000px;
}

@keyframes typedjsBlink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    99% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes typedjsBlink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    99% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

.taskbar {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0px;

    width: 100%;

    height: 30px;
    background: rgba(25, 25, 50, .8);
    color: white;
}

.taskbar > .icons {
    display: flex;
    margin-right: auto;
}

.taskbar > .icons > .button {
    width: 36px;
}
.taskbar > .icons > .button,
.taskbar > .ac > .item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.taskbar > .icons > .button:not(:last-child),
.taskbar > .ac > .item:not(:last-child):not(.notifs) {
    margin-right: 1px;
}

.taskbar > .icons > .button.start:before {
    font-family: 'Hololens MDL2 Assets';
    content: '\e782';
    font-size: 18px;
}

.taskbar > .icons > .button.search:before {
    color: white;
    font-family: 'Segoe MDL2 Assets';
    content: '\e71e';
    transform: scaleX(-1);
}

.taskbar > .icons > .button.search {
    margin-right: 2px;
}

.taskbar > .icons > .button.explorer {
    background: url(img/explorer.png) no-repeat center center;
}

.taskbar > .icons > .button.cmd {
    background: url(img/cmd.png) no-repeat center center;
}

.taskbar > .icons > .button.active {
    background-color: rgba(255,255,255,.15);
    box-sizing: border-box;
    border-bottom: 2px solid #76B9ED;
}

.taskbar > .ac {
    font-family: 'Segoe MDL2 Assets';
    display: flex;
    margin-left: auto;
}

.taskbar > .ac > .clock {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Segoe UI';
    font-size: 12px;

    width: 61px;
}

.taskbar > .ac > .icons {
    display: flex;
    height: 100%;
    align-items: center;
}

.taskbar > .ac > .icons > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    padding: 1px;
    height: calc(100% - 2px);
}

.taskbar > .ac > .icons > .item:last-of-type {
    margin-right: 0px;
    padding-right: 0px;
}

.taskbar > .ac > .icons > .item > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.taskbar > .ac > .icons > .item > .icon.battery:before {
    content: '\ecbf';
}

.taskbar > .ac > .icons > .item > .icon.internet:before {
    content: '\e701';
}

.taskbar > .ac > .icons > .item > .icon.volume:before {
    content: '\e767';
}

.taskbar > .ac > .icons {
    margin-right: 1px;
}

.taskbar > .ac > .icons > .item > .icon,
.taskbar > .ac > .item,
.taskbar > .ac > .peek {
    transition: background-color 0.5s;
}

.taskbar > .ac > .icons > .item:hover > .icon,
.taskbar > .ac > .item:hover,
.taskbar > .ac > .peek:hover,
.taskbar > .icons > .button:hover {
    transition: background-color 0.25s;
    background-color: rgba(255,255,255,.1);
}

.taskbar > .icons > .button:hover {
    transition: none;
}

.taskbar > .icons > .button.active:hover {
    background-color: rgba(255,255,255,.25);
}

.taskbar > .ac > .peek {
    border-left: 1px solid #777F8E;
    width: 4px;
}

.taskbar > .ac > .notifs {
    width: 40px;
    margin-right: 8px;
}

.taskbar > .ac > .notifs:before {
    content: '\e91c';
}

/**
 * Copyright (c) 2014 The xterm.js authors. All rights reserved.
 * Copyright (c) 2012-2013, Christopher Jeffrey (MIT License)
 * https://github.com/chjj/term.js
 * @license MIT
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * Originally forked from (with the author's permission):
 *   Fabrice Bellard's javascript vt100 for jslinux:
 *   http://bellard.org/jslinux/
 *   Copyright (c) 2011 Fabrice Bellard
 *   The original design remains. The terminal itself
 *   has been extended to include xterm CSI codes, among
 *   other features.
 */

/**
 *  Default styles for xterm.js
 */

 .xterm {
    font-feature-settings: "liga" 0;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
    outline: none;
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    /**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
    z-index: 5;
}

.xterm .xterm-helper-textarea {
    padding: 0;
    border: 0;
    margin: 0;
    /* Move textarea out of the screen to the far left, so that the cursor is not visible */
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    /** Prevent wrapping so the IME appears against the textarea at the correct position */
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm .composition-view {
    /* TODO: Composition position got messed up somewhere */
    background: #000;
    color: #C8C8C8;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.xterm .composition-view.active {
    display: block;
}

.xterm .xterm-viewport {
    /* On OS X this is required in order for the scroll bar to appear fully opaque */
    background-color: #000;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.xterm .xterm-screen {
    position: relative;
}

.xterm .xterm-screen canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.xterm .xterm-scroll-area {
    visibility: hidden;
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal;
}

.xterm {
    cursor: text;
}

.xterm.enable-mouse-events {
    /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
    cursor: default;
}

.xterm.xterm-cursor-pointer {
    cursor: pointer;
}

.xterm.column-select.focus {
    /* Column selection mode */
    cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: transparent;
}

.xterm .live-region {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.xterm-dim {
    opacity: 0.5;
}

.xterm-underline {
    text-decoration: underline;
}